/output/
/export/
/node-storage/
/.las2peer/
/tmp/
/log/
/lib/
/etc/ivy/ivy.jar
/service/
/out/
/.idea/
*.iml
.DS_Store
/.settings/
/junitvmwatcher*.properties
/junit*.properties
/etc/startup/
*.secret
archiva_credentials.xml
/tmitocar
/bin/
# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build
*.class
.project
las2peer-tmitocar-service/.project
las2peer-tmitocar-service/export/jars/*.jar
las2peer-tmitocar-service/.classpath
las2peer-tmitocar-service/.settings/org.eclipse.jdt.core.prefs
tmitocar-service/.project
tmitocar-service/export/jars/*.jar
tmitocar-service/.classpath
tmitocar-service/.settings/org.eclipse.jdt.core.prefs
tmitocar-service/export
tmitocar-service/tmitocar/
.vscode/settings.json
.project
tmitocar-service/src/main/resource/*.properties
application.properties